streamlit>=1.37.0
pandas>=2.1.0
weasyprint==66.0
mammoth==1.6.0
openpyxl>=3.1.2
xlrd>=2.0.1
pypdf>=5.0.0
Pillow>=10.3.0
cairocffi>=1.6.1
cffi>=1.16.0
tinycss2>=1.2.1
Pyphen>=0.15.0

# Opcional (motor alternativo):
xhtml2pdf>=0.2.15
reportlab>=4.0.9
