streamlit==1.36.0
pandas==2.2.2

# Imagens → PDF
Pillow==10.4.0

# HTML → PDF (sem cairo)
xhtml2pdf==0.2.15
reportlab==4.1.0
html5lib==1.1
cssselect2==0.7.0
tinycss2==1.3.0

# DOCX → HTML
mammoth==1.6.0

# Excel
openpyxl==3.1.5
xlrd==1.2.0

# PDF utilitários
pypdf==4.2.0

# Suporte
chardet==5.2.0
